* {
    background-color: rgb(240, 240, 240);
}

p {
    font-family: system-ui, ui-rounded, sans-serif, serif;
    font-size: 2.0vmin;
    line-height: 3vmin;
}

p#back {
    margin-inline-start: 10vmin;
    margin-top: 10vmin;
}

p#app {
    text-align: center;
}

a#back:link {
    text-decoration: none;
    color: black;
}

a#back:visited {
    color: black;
}

a#back:hover {
    color: #007aff;
}

a#back:active {
    color: #007aff;
}

a#back:focus {
    color: #007aff;
    text-decoration: none;
}

a#app:link {
    text-decoration: none;
    color: #007aff;
}

a#app:visited {
    text-decoration: none;
    color: #007aff;
}

a#app:hover {
    font-weight: 500;
}

a#app:active {
    font-weight: 500;
}

a#app:focus {
    font-weight: 500;
    text-decoration: none;
}

h1#note_head {
    font-family: serif, system-ui, ui-rounded, sans-serif;
    font-size: 2.5vmin;
    text-align: center;
}

p#note_text {
    font-family: serif, system-ui, ui-rounded, sans-serif;
    font-size: 2.0vmin;
    text-align: left;
    margin-inline-start: 40vmin;
    margin-inline-end: 40vmin;
}

a#gtable:link {
    color: black
}

a#gtable:visited {
    color: black
}
