* {
    background-color: white;
}

p {
    font-family: system-ui, ui-rounded, sans-serif, serif;
    font-size: 2.0vmin;
    line-height: 3vmin;
}

p#back {
    margin-inline-start: 20vmin;
    margin-top: 10vmin;
}

a#back:link {
    text-decoration: none;
    color: black;
}

a#back:visited {
    color: black;
}

a#back:hover {
    color: #007aff;
}

a#back:active {
    color: #007aff;
}

a#back:focus {
    color: #007aff;
    text-decoration: none;
}

.tip_link:link {
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
}

.tip_link:visited {
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
}

.tip_link:hover {
    color: goldenrod;
    font-size: 1.72vmin;
}

.tip_link:active {
    color: goldenrod;
    text-decoration: none;
}

.tip_link:focus {
    color: goldenrod;
    text-decoration: none;
}

div#tip_toc {
    font-family: system-ui, ui-rounded, sans-serif, serif;
    margin-inline-start: 40vmin;
    margin-inline-end: 40vmin;
    background-color: whitesmoke;
}

h1#tip_toc_head {
    font-size: 3.0vmin;
    text-align: center;
    background-color: whitesmoke;
}

ul#tip_toc_list {
    font-size: 1.7vmin;
    text-align: left;
    background-color: whitesmoke;
}

li {
    padding-top: 0vmin;
    padding-bottom: 1vmin;
    background-color: whitesmoke;
}

.tip_head {
    font-family: system-ui, ui-rounded, sans-serif, serif;
    font-size: 2.0vmin;
    text-align: left;
    margin-top: 4vmin;
    margin-inline-start: 21.5vmin;
    margin-inline-end: 21.5vmin;
    padding-top: 4vmin;
}

p#tip_intro {
    font-size: 1.7vmin;
    text-align: left;
    margin-inline-start: 21.5vmin;
    margin-inline-end: 21.5vmin;
    padding-bottom: 4vmin;
}

p#tip_text {
    font-size: 1.7vmin;
    text-align: left;
    margin-inline-start: 22.6vmin;
    margin-inline-end: 22.6vmin;
}

p#tip_code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vmin;
    text-align: left;
    margin-inline-start: 30vmin;
    margin-inline-end: 20vmin;
    background-color: rgb(240, 240, 240);
}

a#tip_code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vmin;
}