* {
    background-color: rgb(240, 240, 240);
}

p {
    font-family: system-ui, ui-rounded, sans-serif, serif;
    font-size: 2.0vmin;
    line-height: 3vmin;
}

p#back {
    margin-inline-start: 20vmin;
    margin-top: 20vmin;
}

a#back:link {
    text-decoration: none;
    color: black;
}

a#back:visited {
    color: black;
}

a#back:hover {
    color: #007aff;
}

a#back:active {
    color: #007aff;
}

a#back:focus {
    color: #007aff;
    text-decoration: none;
}

p#donation {
    text-align: center;
}

a#donation:link {
    text-decoration: none;
    color: #2aaa00;
}

a#donation:visited {
    text-decoration: none;
    color: #2aaa00;
}

a#donation:hover {
    font-weight: 500;
}

a#donation:active {
    font-weight: 500;
}

a#donation:focus {
    font-weight: 500;
    text-decoration: none;
}

a#buymeacoffee:link {
    text-decoration: none;
    color: goldenrod
}

a#buymeacoffee:visited {
    text-decoration: none;
    color: goldenrod;
}

a#buymeacoffee:hover {
    font-weight: 500;
}

a#buymeacoffee:active {
    font-weight: 500;
}

a#buymeacoffee:focus {
    font-weight: 500;
    text-decoration: none;
}
